<div class="toolbar" role="banner">
  <div>
    <h2 class="heading">Quiz Application</h2>
  </div>
  <div class="dropdown">
    <span> Select Quiz </span>
    <div class="btn-group" dropdown>
      <button
        dropdownToggle
        type="button"
        class="btn btn-primary dropdown-toggle"
        aria-controls="dropdown-basic"
      >
        Design Patterns
        <span class="caret"></span>
      </button>
      <ul
        *dropdownMenu
        class="dropdown-menu"
        role="menu"
        aria-labelledby="button-basic"
      >
        <li role="menuitem" class="dropdown-item">Design Patterns</li>
        <li role="menuitem" class="dropdown-item">Angular</li>
        <li role="menuitem" class="dropdown-item">Java</li>
      </ul>
    </div>
  </div>
</div>
